.services {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  padding: 50px 2% !important;
}
.services h3 {
  font-weight: 700;
  color: #fff;
  padding: 0 10%;
}
.services h3 span {
  font-weight: normal;
  color: #000;
}
.services .services-section {
  display: flex;
  flex-direction: column;
}

.services .services-section .service {
  display: flex;
  flex-direction: column;
  box-shadow: 0;
  transition: transform 0.7s, opacity 0.7s, box-shadow 0.7s;
  padding: 3% 3% 4%;
  border-radius: 15px;
  margin: 5% 0;
}
.services .service .icon {
  font-size: 60px;
  align-self: center;
  color: #71f4fa;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
}
.services .services-section .service:hover .icon {
  color: #71f4fa;
}
.services .service h4 {
  margin-bottom: 10px;
  color: #707072;
  text-align: center;
}

.services .service p {
  color: #fff;
  text-align: center;
}
.services button {
  width: 240px;
  min-width: 216px;
  border-radius: 25px;
  background-color: white;
  font-size: 1rem;
  border: 1px solid #9a9a9a;
  height: 50px;
  font-weight: 400;
  margin-top: 25px;
  padding: 0.6em 1em;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s, border 0.3s, background 0.3s, box-shadow 0.3s,
    opacity 0.3s, color 0.3s;
  outline: none;
}
.services button:hover {
  color: #fff;
  border-color: #707072;
  background-color: #707072;
}

@media (min-width: 768px) {
  .services .services-section .service {
    margin: 0% 1%;
    padding: 3% 3% 4%;
  }
  .services .services-section {
    flex-direction: row;
  }

  .services .service h4 {
    text-align: center;
  }

  .services .service p {
    text-align: center;
  }
}
