@font-face {
  font-family: "Inconsolata";
  src: url("../../fonts/Inconsolata.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
input,
button,
a {
  font-size: 14px;
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.5px;
  color: #3c3c3c;
}
@media (min-width: 760px) {
  body,
  input,
  button,
  a {
    font-size: 14px;
  }
}
.container {
  position: relative;
}
button {
  cursor: pointer;
}
