@font-face {
  font-family: "Inconsolata";
  src: url("../../fonts/Inconsolata.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400,600,900&display=swap");
:root {
  --secondary: #01a6baeb;
  --primary: #7557c7c7;
  --transparency: #000000bf;
  --black: #000;
  --white: #fff;
  --gray: #707072;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
input,
button,
a {
  font-size: 16px;
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.5px;
  color: var(--gray);
  letter-spacing: -1px;
}
@media (min-width: 760px) {
  body,
  input,
  button,
  a {
  }
}
.container {
  position: relative;
  margin-left: 7vw;
}
button {
  cursor: pointer;
}
