@font-face {
  font-family: "Rubik-Regular";
  src: url("../../fonts/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Rubik-Italic";
  src: url("../../fonts/Rubik-Italic.ttf");
}
@font-face {
  font-family: "Rubik-BoldItalic";
  src: url("../../fonts/Rubik-BoldItalic.ttf");
}
@font-face {
  font-family: "Rubik-Bold";
  src: url("../../fonts/Rubik-Bold.ttf");
}
html {
  font-size: 12px;
}

.layout {
  background-color: #fff;
  flex: 1;
  font-family: "Rubik-Regular", sans-serif;
}
.layout h1 {
  font-size: 5.5rem;
  font-weight: lighter;
  letter-spacing: -1.5px;
}
.layout h2 {
  font-size: 3.5rem;
  font-weight: lighter;
  letter-spacing: -0.5px;
}

.layout h3 {
  font-size: 2.75rem;
  margin-bottom: 30px;
}
.layout h4 {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.25px;
}

.layout p {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.layout a {
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.15px;
}
.layout .container {
  padding: 50px 5%;
  background-color: #303f49;
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .layout .container {
    padding: 50px 10%;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}
