.intro-projects {
  display: flex;
  flex-direction: column;
  padding: 15vh 5vw 0;
  box-sizing: border-box;
  background-image: radial-gradient(
    circle,
    #d7d7d7,
    #d7d7d7 1px,
    var(--white) 0,
    var(--white)
  );
  background-size: 28px 28px;
}
.intro-projects section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-projects h1 {
  font-size: 6rem;
  text-align: center;
  color: var(--gray);
  margin-bottom: 4vh;
}
.intro-projects p {
  line-height: 32px;
  font-size: 1.4rem;
  color: var(--gray);
  font-weight: 400;
  text-align: center;
  margin-bottom: 4vh;
}
.intro-projects aside ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1vh;
  justify-content: center;
}
.intro-projects aside ul li {
  margin: 1vw;
  position: relative;
}
.intro-projects aside li img {
  width: 24px;
  height: 24px;
}
.intro-projects aside li span {
  width: max-content;
  background: var(--gray);
  padding: 8px;
  border-radius: 4px;
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%);
}
.intro-projects aside li:hover span::before {
  content: "";
  border-style: solid;
  border-color: var(--gray) transparent;
  border-width: 6px 6px 0 6px;
  top: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.intro-projects aside li:hover span,
.intro-projects aside li:hover span::before {
  opacity: 1;
  visibility: visible;
}
.intro-projects a {
  color: #00000096;
  width: 240px;
  min-width: 216px;
  border-radius: 25px;
  background-color: white;
  font-size: 1rem;
  border: 1px solid #9a9a9a;
  height: 50px;
  font-weight: 400;
  padding: 0.6em 1em;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s, border 0.3s, background 0.3s, box-shadow 0.3s,
    opacity 0.3s, color 0.3s;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-projects a:hover {
  color: #fff;
  border-color: #707072;
  background-color: #707072;
}
.intro-projects a svg {
  margin-left: 1vw;
}
.intro-projects aside {
  display: flex;
  flex-direction: column;
  margin-top: 6vh;
}
.intro-projects aside h4 {
  display: flex;
  flex-direction: column;
  margin: 2vh 0 2vh;
  text-align: center;
  font-size: 2.3rem;
}
@media (min-width: 768px) {
  .intro-projects {
    padding: 15vh 8vw 0;

    margin-left: 8vw;
  }
  .intro-projects section {
  }
  .intro-projects aside {
    margin-bottom: 10vh;
  }
}
