.intro-background {
  background-image: url("https://delinx.digital/static/background-01-tablet-desktop-36ebbe46e31d55b0ff7292db26176c86.jpg");
  width: 100vw;
  height: 100vh;
  content: "";
  position: fixed;
  top: 0;
  z-index: 0;
}
header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 7vw;
  height: 100vh;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 0 9px 0 rgba(44, 43, 57, 0.16);
  padding: 4vh 0;
  background-color: transparent;
  transition: background-color 0.1s ease-out, transform 0.8s ease-out;
  z-index: 2;
}
header .hamburguermenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  pointer-events: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 30px;
}
header .hamburguermenu div {
  width: 40px;
  border: 2px solid #fff;
  border-radius: 3px;
}

header .logo {
  font-size: 32px;
  color: #fff;
}

header ul {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  background: black;
  transform: translate3d(0%, -220%, 0);
  transition: transform 0.6s ease-out, opacity 0.6s ease;
  padding: 50px 10%;
}
header ul.click {
  transform: translate3d(0%, 0%, 0);
}
header ul.click li {
  height: 80px;
}
header li a {
  position: relative;
  color: #fff;
  font-size: 20px !important;
  margin: 0 1rem;
  outline: none;
  height: 100%;
  display: flex;
  align-items: center;
}

/* ## Media Queries ## */
@media (min-width: 768px) {
  header.click {
    background-color: #fff;
  }
  header .logo {
    margin-left: 0%;
  }
  header .logoIcon {
    transition: transform 0.3s ease-out, opacity 0.3s,
      -webkit-transform 0.3s ease-out;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    pointer-events: none;
  }

  header .logoIcon.move {
    opacity: 1;
    display: flex;
    pointer-events: visible;
    transform: translate3d(0%, 0, 0);
  }

  header ul {
    transform: translate3d(0%, 0%, 0);
    transition: transform 0.8s ease-out, opacity 0.8s;
    position: initial;
    padding: 0;
    background-color: transparent;
    min-height: initial;
    flex-direction: row;
    top: auto;
    left: auto;
    justify-content: flex-end;
    height: 100%;
  }
  header li {
    height: 100%;
  }
  header li a {
    position: relative;
    color: #c1c1c1e8;
    font-size: 20px;
    margin: 0 0 0 1rem;
    outline: none;
    height: 100%;
    display: flex;
    align-items: center;
  }
  header ul a:hover {
    color: #ffffff;
  }
  header ul.click a:hover {
    color: #303f49;
  }
  header ul li:hover a::after {
    width: 1.6rem;
  }

  header ul li a::after {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 0;
    height: 0.15rem;
    background-color: #71f4fa;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
  }
  header .logoIcon {
    left: 3%;

    pointer-events: none;
  }
  header .icon {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    pointer-events: none;
  }
  header .icon.move {
    right: 0.5%;
  }
  header ul {
    transition: transform 0.3s ease-out, opacity 0.3s;
  }
  header ul.move {
    transform: translate3d(0%, -230%, 0);
  }
  header ul.click {
    transform: translate3d(0%, 0%, 0);
  }
}
@media (min-width: 1024px) {
}
