.intro-background {
  width: 100vw;
  height: 100vh;
  position: fixed !important;
  animation: zoomInOut 10s infinite;
  z-index: -1;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 0 9px 0 rgba(44, 43, 57, 0.16);

  background-color: var(--white);
  z-index: 2;
}
header .hamburguermenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  pointer-events: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 48px;
  height: 48px;
  margin-left: 4vw;
}
header .hamburguermenu div {
  width: 40px;
  border: 2px solid var(--gray);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  transform: rotate(0);
}
header .hamburguermenu:hover div {
  border: 2px solid var(--primary) !important;
}
header .hamburguermenu div:nth-child(2) {
  width: 30px;
  opacity: 1;
  visibility: visible;
}
header .hamburguermenu.click div:nth-child(1) {
  transform: rotate(45deg) translate(9px, 8px);
  border: 2px solid var(--gray);
}
header .hamburguermenu.click div:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
header .hamburguermenu.click div:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
  border: 2px solid var(--gray);
}

header .logo {
  margin-right: 4vw;
  font-size: 32px;
  color: var(--gray);
  transition: all 0.2s ease-in-out;
  display: flex;
}
header .logo:hover {
  color: var(--primary);
}

header ul {
  visibility: hidden;
  opacity: 0;
  display: flex;
  position: absolute;
  background: var(--white);
  align-items: flex-end;
  padding: 0 4vw;
  height: 25vh;
  width: 100vw;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out,
    box-shadow 2s ease-in-out;
  z-index: -2;
}
header ul.click {
  visibility: visible;
  opacity: 1;
}
header ul li {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 1vh 0;
  padding: 3vw;
  border-radius: 0 5px 5px 0;
}
header li a {
  position: relative;
  color: var(--gray);
  font-size: 1.5rem;
  outline: none;
  display: flex;
  text-decoration: none;
  transform: translateX(-10vw);
  visibility: hidden;
  opacity: 0;
}
header li:hover a {
  color: var(--primary);
}
header ul li:nth-child(1) a {
  transition: color 0.2s ease-in, visibility 0.4s ease-in-out,
    transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
header ul li:nth-child(2) a {
  transition: color 0.2s ease-in, visibility 0.6s ease-in-out,
    transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
header ul li:nth-child(3) a {
  transition: color 0.2s ease-in, visibility 0.8s ease-in-out,
    transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}
header ul li:nth-child(4) a {
  transition: color 0.2s ease-in, visibility 0.8s ease-in-out,
    transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}
header ul.click li a {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

header li a:after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 55%;
  height: 2px;
  background-color: var(--gray);
  transition: all 0.4s ease-in-out;
}
header li:hover a:after {
  background-color: var(--primary);
}

/* ## Media Queries ## */
@media (min-width: 768px) {
  .header {
    flex-direction: column;
    width: 8vw;
    height: 100vh;
  }
  header .hamburguermenu {
    margin-top: 4vh;
    margin-left: 0;
  }
  header .logo {
    margin-right: 0;
    margin-bottom: 4vh;
  }
  header ul {
    flex-direction: column;
    padding: 18vh 1vw;
    margin-left: 4.5vw;
    align-items: flex-start;
    width: 16vw;
    height: 100vh;
  }
  header ul li {
    margin-left: 4vh;
    height: 50px;
    padding: 0;
  }
}
@media (min-width: 1024px) {
}
