header {
  height: 80px;
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  padding: 0 5%;
  justify-content: space-between;
  width: 100%;
  background-color: #303f49;
  transition: background-color 0.1s ease-out, transform 0.8s ease-out;
  z-index: 2;
}

header .logoIcon {
  font-size: 32px !important;
  color: #71f4fa;
  transition: transform 0.3s ease-out, opacity 0.3s,
    -webkit-transform 0.3s ease-out;
  opacity: 1;
  transform: translate3d(0%, 0, 0);
  position: absolute;
  left: 5.5%;
}

header .logo {
  width: 200px;
  font-size: 0px !important;
  color: #71f4fa;
  transform: translate3d(0%, -220%, 0);
  transition: transform 0.3s ease-out, opacity 0.3s;
  margin-left: 10%;
}
header .logo.move {
  transform: translate3d(0%, 0%, 0);
}
header ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  background: black;
  transform: translate3d(0%, -220%, 0);
  transition: transform 0.6s ease-out, opacity 0.6s ease;
  padding: 50px 10%;
}
header ul.click {
  transform: translate3d(0%, 0%, 0);
}
header ul.click li {
  height: 80px;
}
header li a {
  position: relative;
  color: #fff;
  font-size: 20px !important;
  margin: 0 1rem;
  outline: none;
  height: 100%;
  display: flex;
  align-items: center;
}
header .icon {
  background-color: transparent;
  border: none;
  color: #71f4fa;
  font-size: 32px;
  transition: transform 0.3s ease-out, opacity 0.3s,
    -webkit-transform 0.3s ease-out;
  position: absolute;
  right: 0.5%;
  padding: 4%;
  cursor: pointer;
  pointer-events: visible;
}
header .icon.move {
  pointer-events: all;
  opacity: 1;
  cursor: pointer;
  transform: translate3d(0%, 0, 0);
}
header .icon.click {
  pointer-events: all;
  opacity: 1 !important;
  transform: translate3d(0%, 0, 0) !important;
}
/* ## Media Queries ## */
@media (min-width: 768px) {
  header {
    flex-direction: row;
    padding: 0 10%;
  }
  header.click {
    background-color: #fff;
  }
  header .logo {
    margin-left: 0%;
  }
  header .logoIcon {
    transition: transform 0.3s ease-out, opacity 0.3s,
      -webkit-transform 0.3s ease-out;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    pointer-events: none;
  }

  header .logoIcon.move {
    opacity: 1;
    display: flex;
    pointer-events: visible;
    transform: translate3d(0%, 0, 0);
  }

  header ul {
    transform: translate3d(0%, 0%, 0);
    transition: transform 0.8s ease-out, opacity 0.8s;
    position: initial;
    padding: 0;
    background-color: transparent;
    min-height: initial;
    flex-direction: row;
    top: auto;
    left: auto;
    justify-content: flex-end;
    height: 100%;
  }
  header li {
    height: 100%;
  }
  header li a {
    position: relative;
    color: #c1c1c1e8;
    font-size: 20px;
    margin: 0 0 0 1rem;
    outline: none;
    height: 100%;
    display: flex;
    align-items: center;
  }
  header ul a:hover {
    color: #ffffff;
  }
  header ul.click a:hover {
    color: #303f49;
  }
  header ul li:hover a::after {
    width: 1.6rem;
  }

  header ul li a::after {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 0;
    height: 0.15rem;
    background-color: #71f4fa;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
  }
  header .logoIcon {
    left: 3%;

    pointer-events: none;
  }
  header .icon {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    pointer-events: none;
  }
  header .icon.move {
    right: 0.5%;
  }
  header ul {
    transition: transform 0.3s ease-out, opacity 0.3s;
  }
  header ul.move {
    transform: translate3d(0%, -230%, 0);
  }
  header ul.click {
    transform: translate3d(0%, 0%, 0);
  }
}
@media (min-width: 1024px) {
}
